:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

button {
  background: none;
  border: none;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 36rem;
}

input, textarea {
  font-family: sans-serif;
}
strong, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
a {
  color: rgb(13, 120, 139);
}
code {
  background-color: #444;
  color: white;
  padding: 0.2em;
  border-radius: 0.2em;
}
blockquote {
  border-left: 0.2em solid #a8a8a8;
  padding-left: 0.5em;
  margin: 0.5em 0;
}
button {
  cursor: pointer;
}
